PORT=3004

NATS_SERVERS="nats://localhost:4222"

DATABASE_URL=mongodb+srv://{{DB_USERNAME}}:{{DB_PASSWORD}}@{{CLUSTER_NAME}}.c64pr.mongodb.net/{{DB_NAME}}?appName={{APP_NAME}}

JWT_SECRET={{JWT_SECRET}}